.quote{
    display:flex;
    border:1px solid red;
    width:100%;
    align-items: center;
    justify-content: center;
    
    color:white;
    padding:10%;
    text-align: center;;
}

.quote-text {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.quote-author {
    font-size: 1.2rem;
    font-weight: 200;
   
    font-style:italic;
    color:#ccc;
}

.quote-image{
    width:100%;
    transform:rotate(-5deg);
}

.quotes-left{
    flex:1;
}

.quotes-right{
    flex:2;
    display: flex;
    flex-direction: column;
}

.button {
  padding: 12px 24px;
  background-color: #ff6b6b;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}