/* Series Books */
.series-books-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.series-book {
  text-decoration: none;
  color: inherit;
}

.series-books-list h4{
  font-size: 1em;
  
  margin-bottom: 10px;
}

.series-book img {
  width: 100%;
  max-width:120px;
  height: auto;
  border-radius: 4px;
}
