.social-icons {
    display: flex;
    gap: 1.8rem;
}

.social-icons a {
    color: white;
    font-size: 1.4rem;
    transition: transform 0.2s;
}

.social-icons a:hover {
    transform: scale(1.2);
}

.custom-social-icon {
    height: 32px;
}

.custom-social-icon:hover {
    transform: scale(1.2);
}

.social-link-a {
    text-decoration: none;
}

.custom-social-text-icon {
    background-color: white;
    color: black;
    display:flex;
    aspect-ratio: 1/1;
    min-width: 28px;
    min-height: 28px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top:5px;
}